@import "variables";
@import "mixins";
.box{
    border: solid 2px black;
    background-color: grey;
    padding: 10px;
  
}
body{
    font-family: 'Roboto Mono', monospace ;
}
nav{
    font-family: 'Roboto Mono', monospace ;
    font-size: bold;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}


h1{
    text-align: center;
    color:black;
    text-transform: uppercase;
    
  
  
}
h2{
    font-size: 50px;
}
.background1{
    background-color: $background
}
.background2{
    background-color: antiquewhite;
}
.img{
    width: 80px;
}
.bgr-black{
    background-color:black;
}
.bg-azul{
    background:black;
}
.c-white{
    color: white;
}
.btn{
    animation-duration: 0,4s;
}
.btn:hover{
    background-color: white;
    color:red;
     }

 i:hover{
     color: red;
 }    
 
.div{
    
    
    @include text(red,30px);
    @extend .bg-azul;
    text-align: centers;
    
}
$clubes:lawn;
h4{
    @if $clubes==jockey {
        color: brown;
    } @else if $clubes==trc {
        color: green;
    }@else if $clubes==tarco{
        color: red;
    }@else if $clubes==lawn{
        color:white;
    }@else{
        color: black;
    }
}

.margin_left{
    margin-left: 200px;
}
.bg-form{
    background-color: #393e46;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
 
input{
      :focus{
          border-color: black;
      }
}
.navbar-toggler-icon{
    color: white;
}
.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.bg_svg{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1040%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(68%2c 11%2c 43%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c544.94C125.477%2c579.341%2c271.566%2c663.173%2c379.661%2c590.763C488.265%2c518.012%2c449.073%2c346.952%2c483.722%2c220.909C511.915%2c118.349%2c565.19%2c25.219%2c564.363%2c-81.143C563.452%2c-198.353%2c547.893%2c-320.195%2c478.78%2c-414.865C407.092%2c-513.062%2c300.042%2c-599.196%2c178.872%2c-609.182C61.311%2c-618.871%2c-28.45%2c-512.435%2c-136.71%2c-465.592C-228.607%2c-425.829%2c-329.26%2c-414.817%2c-409.319%2c-354.677C-503.664%2c-283.805%2c-616.888%2c-207.9%2c-634.973%2c-91.295C-653.065%2c25.353%2c-569.368%2c132.907%2c-499.725%2c228.217C-439.81%2c310.213%2c-351.693%2c359.408%2c-265.916%2c413.773C-180.709%2c467.777%2c-97.289%2c518.267%2c0%2c544.94' fill='%23360922'%3e%3c/path%3e%3cpath d='M1440 1049.502C1530.786 1030.649 1615.355 1003.5640000000001 1697.83 961.191 1788.609 914.552 1900.926 882.688 1944.407 790.355 1987.937 697.918 1922.441 593.224 1919.204 491.101 1915.4270000000001 371.96000000000004 1992.23 238.38400000000001 1923.817 140.76999999999998 1856.1770000000001 44.259000000000015 1710.356 57.03899999999999 1595.746 29.576000000000022 1487.253 3.578999999999951 1378.33-46 1270.969-15.666000000000054 1163.231 14.774999999999977 1094.248 112.46199999999999 1016.677 193.18900000000002 934.829 278.366 821.255 351.7 805.473 468.769 789.706 585.729 884.917 683.784 936.212 790.072 986.267 893.79 1000.367 1032.041 1102.754 1084.766 1205.319 1137.583 1327.045 1072.9589999999998 1440 1049.502' fill='%23520d34'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1040'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.text{
    color: white;
    font-size: 70px;
    font-weight: 700;
    
    
    animation-iteration-count: initial;
}
.margin-thank{
    margin-top: 180px;
}